---
layout: default
title: Home | {{ site.title }}
image: assets/images/experiments/experiments_thumb1.jpg
---
 
<p class="sitetag-large" style="font-weight:900; font-family: campaign; margin-top:50px;">
  Hi, <a href="/info">I'm Patrick</a>.
</p>
<p class="sitetag">
  I'm a freelance motion graphic designer based in Bonn, Germany.
  </p>
  <p class="sitetag d-none">
  If you have a project you need some help with, or would just like to connect, I’d be <a href="/info">happy to hear from you</a>.
</p>
<br>
<!-- Showreel
================================================== -->
<div class="row">
  <div class="col-md-12">
    <div class="embed-responsive embed-responsive-16by9 extended">
      <iframe class="embed-responsive-item image-shadow rounded" src="https://player.vimeo.com/video/724618955" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
    </div>
  </div>
</div>
<br>
<hr />

<!-- Projects index
================================================== -->
<div class="project-grid-container">
  {% assign projects = site.projects | sort: 'weight' %}
  {% for project in projects %}
       {% include projectbox.html %}
  {% endfor %}
</div>

<!-- Posts Index
================================================== -->
<div class="blog-grid-container d-none">
    {% for post in paginator.posts %}
        {% include postbox.html %}
    {% endfor %}
</div>

<!-- Pagination
================================================== -->
<div class="bottompagination d-none">
<span class="navigation" role="navigation">
    {% include pagination.html %}
</span>
</div>

<!-- CTA -->
{% include cta-contact.html %}
