---
layout: default
title: Home
image: assets/images/experiments/experiments_thumb.jpg
---
<p class="sitetag-large" style="font-weight:900;">
  Patrick German
</p>
<p class="sitetag">
  Motion designer based in Bonn, Germany.
</p>

<!-- Projects index
================================================== -->
<div class="project-grid-container">
  {% assign projects = site.projects | sort: 'weight' %}
  {% for project in projects %}
       {% include projectbox.html %}
  {% endfor %}
</div>

<!-- Posts Index
================================================== -->
<div class="blog-grid-container d-none">
    {% for post in paginator.posts %}
        {% include postbox.html %}
    {% endfor %}
</div>

<!-- Pagination
================================================== -->
<div class="bottompagination d-none">
<span class="navigation" role="navigation">
    {% include pagination.html %}
</span>
</div>
