<!-- CTA-1 Get in Touch
================================================== -->
<div class="cta-contact" style="background-color:#fafafa; padding: 50px 10px 40px 10px; margin-top:100px; ">
  <div class="container">
    <div class="row cta-white align-items-center">
      <div class="col-md-9">
          <p class="label">Let's Connect</p>
          <h3>Need help with a project?</h3>
          <p>If you have a project you need some help with, or would just like to connect, I’d be happy to hear from you.</p>
      </div>
      <div class="col-md-3 text-center">
        <a class="button" href="/contact/">Contact 👋</a>
      </div>
    </div>
  </div>
</div>
