<!-- showreel display -->

<div class="row mt-5 pt-5">
  <div class="col-md-12">
    <a href="#" data-toggle="modal" data-target="#showreel">
    <div class="media-card">
      <div class="media-card__video showreel rounded">
        <video src="/assets/images/showreel10s.mp4" autoplay muted loop loading="lazy">
          <img src="/assets/images/showreel_thumb.png" />
        </video>
      </div>
      <div class="btn media-card__btn-play">
        Watch showreel
      </div>
    </div>
    </a>
  </div>
</div>

<!-- showreel Modal -->
<div class="modal fade" id="showreel" tabindex="-1" role="dialog" aria-labelledby="showreel" aria-hidden="true">
  <button type="button" class="close" style="color:white; opacity:1; position:absolute; top:12px; right:20px; font-size: 40px;" data-dismiss="modal" aria-label="Close" style="position:absolute; top:40px; right:20px;">
    <span aria-hidden="true">&times;</span>
  </button>
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-body">
          <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="https://player.vimeo.com/video/724618955" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
          </div>
      </div>
    </div>
  </div>
</div>
