<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">

<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Lato:100,300,400,400i,700,700i,900,900i">

<link rel="icon" href="{{ site.baseurl }}/assets/images/favicon.png">

<title>{{ page.title }} | {{site.name}}</title>

{% seo %}

<link href="{{ site.baseurl }}/assets/css/prism.css" rel="stylesheet">

<link href="{{ site.baseurl }}/assets/css/theme.css" rel="stylesheet">

<script src="{{ site.baseurl }}/assets/js/jquery.min.js"></script>

<script src="https://kit.fontawesome.com/2d0a0ae67e.js" crossorigin="anonymous"></script>
<script src="https://player.vimeo.com/api/player.js"></script>
<!-- fonts
=========================== -->
<link rel="stylesheet" href="https://use.typekit.net/qmy2zpn.css">

</head>


{% capture layout %}{% if page.layout %}layout-{{ page.layout }}{% endif %}{% endcapture %}
<body>

	<!-- defer loading of font and font awesome -->
	<noscript id="deferred-styles">
		<link href="https://fonts.googleapis.com/css?family=Sen:400,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
	</noscript>

<!-- Begin Sidebar Navigation
================================================== -->
<div class="sidebar">
</div>
<div class="nav-animated-icon">
  <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
<a href="/"><lottie-player src="https://assets1.lottiefiles.com/packages/lf20_obypemis.json"  background="transparent"  speed="1"  style="width: 30px; height: 30px;"  autoplay loop></lottie-player></a>
</div>
<div class="nav-pg-fa-icon d-none">
<a href="/"><i class="fas fa-poo"></i></a>
</div>
<div class="nav-pg-icon d-none">
  <a href="/" class=""><img style="max-width: 37px;" src="/assets/images/PG_logo.svg" /></a>
</div>
<div class="nav-icon">
    <div class="hamburger-bar"></div>
</div>
<div id="blackover-nav" class="blackover"></div>
<nav id="menu">
    <ul>
        <h3>Patrick German</h3>
        <li><a href="{{ site.baseurl }}/">Work</a></li>
				<!--<li><a href="{{ site.baseurl }}/projects/experiments">Experiments</a></li>-->
        <li><a href="{{ site.baseurl }}/info">Info</a></li>
    </ul>
</nav>
<div class="nav-icon-instagram">
 <a href="{{ site.instagram }}" target="_blank"><i class="fab fa-instagram"></i></a>
</div>
<div class="nav-icon-plane ">
 <a href="https://vimeo.com/patrickgerman" target="_blank"><i class="fab fa-vimeo-v"></i></a>
</div>


<!-- End Sidebar Navigation
================================================== -->

{% if page.layout == 'project' %}
  <div class="utility-bar">
		<div class="ub-content">
    	<a href="/"><i class="fas fa-arrow-left" style="margin-right:10px; font-size: 13px;"></i> Back to Projects</a>
		</div>
  </div>
{% endif %}
{% if page.layout == 'page' %}
  <div class="utility-bar">
		<div class="ub-content">
    	<a href="/"><i class="fas fa-arrow-left" style="margin-right:10px; font-size: 13px;"></i> Back Home</a>
		</div>
  </div>
{% endif %}

<div class="site-content {% if page.url == '/' %} firstpage {% endif %}">

<div class="container">

    <!-- Site Logo/Name
    ================================================== -->
<!--
    <a class="navbar-brand d-none" href="{{ site.baseurl }}/">
        <img src="{{ site.baseurl }}/{{ site.logo }}" alt="{{ site.name }}">
    </a>
    <p class="pg-logo-text d-none">PATRICK GERMAN</p>
-->

    <!-- Content
    ================================================== -->
    <div class="main-content">
        {{ content }}
    </div>

    {% if site.mailchimp-list %}
    <!-- Newsletter
    ================================================== -->
    <div class="newsletter text-center d-none">
        <span class="h4"><img src="{{ site.baseurl }}/{{ site.logo }}" class="newsletter-logo" alt="{{site.title}}"> &nbsp; Never miss a <b>story</b> from us, subscribe to our newsletter</span>
        <form action="{{site.mailchimp-list}}" method="post" name="mc-embedded-subscribe-form" class="wj-contact-form validate" target="_blank" novalidate>
            <div class="mc-field-group d-inline-flex">
            <input type="email" placeholder="Your e-mail" name="EMAIL" class="required email" id="mce-EMAIL" autocomplete="on" required>
            <input type="submit" value="Subscribe" name="subscribe" class="heart">
            </div>
        </form>
    </div>
    {% endif %}

</div>

<!-- Begin Footer
================================================== -->
<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-12 text-center text-lg-left">
                Copyright © {{ site.time | date: "%Y" }} {{ site.name }}
            </div>
            <div class="col-md-6 col-sm-12 text-center text-lg-right">
                Made with <span style="font-size:10px; color: #{{ page.color1 }} ;"><i class="fas fa-heart"></i></span> in Bonn.
            </div>
        </div>
    </div>
</footer>
<!-- End Footer
================================================== -->

</div> <!-- /.site-content -->

<!-- Scripts (if you need bootstrap.js, please add it yourself. I didn't use it for performance reasons, it was not needed in this theme)
================================================== -->

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

<script src="{{ site.baseurl }}/assets/js/prism.js"></script>

<script src="{{ site.baseurl }}/assets/js/theme.js"></script>

{% if site.lazyimages == "enabled" %}
<script src="{{ site.baseurl }}/assets/js/lazyload.js"></script>
{% endif %}

{% if page.layout == 'post' %}
<script id="dsq-count-scr" src="//{{site.disqus}}.disqus.com/count.js"></script>
{% endif %}
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script>
  AOS.init();
</script>


</body>
</html>
